[project]
	description = ??POS????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kinglcc (kinglcc)
[access "refs/for/refs/*"]
	read = group user/kinglcc (kinglcc)
	push = group user/kinglcc (kinglcc)
	label-Code-Review = -2..+2 group user/kinglcc (kinglcc)
	label-Verified = -1..+1 group user/kinglcc (kinglcc)
	rebase = group user/kinglcc (kinglcc)
	removeReviewer = group user/kinglcc (kinglcc)
	submit = group user/kinglcc (kinglcc)
[access "refs/heads/*"]
	read = group user/kinglcc (kinglcc)
	create = group user/kinglcc (kinglcc)
	push = +force group user/kinglcc (kinglcc)
	pushMerge = group user/kinglcc (kinglcc)
[access "refs/tags/*"]
	push = +force group user/kinglcc (kinglcc)
	pushTag = group user/kinglcc (kinglcc)
	pushSignedTag = group user/kinglcc (kinglcc)
